<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-primary"%>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary"%>


<p><strong>Reviews</strong></p>
<% @restaurant.reviews.each do |review| %>
  <div>
    <%= review.rating %>
    <%= review.content %>
  </div>
<% end %>

<%= link_to 'Add your review', new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary"%>


<%#= link_to "See details", restaurant_reviews_path(@restaurant), class: "btn btn-primary"%>
